{% extends "base.html" %} 
{% block title %}About{% endblock %} 
{% block content %}
<div class="section-heading">
  <h2>Discover More About Our Company</h2>
  <p>As a group of medical professionals, we understand how hard it is to accept the fate of a patient
    living across the world from you, especially with the emergence of virtual diagnosis. We have therefore
    developed this website to bring doctors to their patients for treatment in the quickest and most
    economical way possible through private jet sharing. All the while, doctors have access to their patient databases so they can analyze and plan for their patient's wellbeing. All our flights come with essential medical devices
    and are paid for by the United Nations.
  </p>
</div>
<div class="section-floor text-center">
              <p>This website was developed by Thadani Simran Sanjay, Jasjot Benipal and Darren Trieu</p>
            </div>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Dr. Shairlines - About Us</title>

  <link href="bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../static/logo.png" alt="logo">
        </span>

        <div class="text header-text">
          <span class="name">Dr. Shairlines</span>
          <span class="course"></span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="./index.html">
              <i class='bx bxs-home icon'></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#">
              <i class='bx bxs-log-in icon'></i>
              <span class="text nav-text">Login</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/deals.html">
              <i class='bx bxs-dollar-circle icon'></i>
              <span class="text nav-text">Deals</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/reservation.html">
              <i class='bx bxs-book-content icon'></i>
              <span class="text nav-text">Reservation</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/about.html">
              <i class='bx bxs-info-circle icon'></i>
              <span class="text nav-text">About</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/contact.html">
              <i class='bx bxs-envelope icon'></i>
              <span class="text nav-text">Contact</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <i class='bx bxs-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
        <li class="mode">
          <div class="dark-light">
            <i class="bx bx-moon icon dark"></i>
            <i class="bx bx-sun icon light"></i>
          </div>
          <span class="mode-text text">Dark Mode</span>
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>

    </div>
  </nav>
  <section class="main">
    <div class="about-main-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="content">
              <div class="blur-bg"></div>
              <h4>DR. SHAIRLINES</h4>
              <div class="line-dec"></div>
              <h2>World's First Private Jet Sharing Service for Doctors</h2>
              <p>Touch the Sky so your Patient doesn't</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-image">
              <img src="assets/images/about-left-image.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-heading">
              <h2>Discover More About Our Company</h2>
              <p>As a group of medical professionals, we understand how hard it is to accept the fate of a patient
                living across the world from you, especially with the emergence of virtual diagnosis. We have therefore
                developed this website to bring doctors to their patients for treatment in the quickest and most
                economical way possible through private jet sharing. All our flights come with essential medical devices
                and are paid for by the United Nations.</p>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="info-item">
                  <h4>190 +</h4>
                  <span>Total Patients Saved Yearly</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info-item">
                  <h4>175 +</h4>
                  <span>Hospital Facility Partnerships</span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="info-item">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4>12 +</h4>
                      <span>Destinations</span>
                    </div>
                    <div class="col-lg-6">
                      <h4>240 +</h4>
                      <span>Flights Taken Yearly</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="developer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading text-center">
              <h2>This website was developed by Thadani Simran Sanjay, Jasjot Benipal and Darren Trieu</h2>
              <p>BBA(International Business & Global Management and Information Systems & Analytics)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(".option").click(function () {
      $(".option").removeClass("active");
      $(this).addClass("active");
    });
  </script>
  <script src=./sidebar.js></script>

</body>

</html>