{% extends "base.html" %} 
{% block title %}Contact{% endblock %} 
{% block content %}
<section class="main">
    <div class="second-page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4>Contact Us</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info reservation-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Make a Phone Call</h4>
              <a href="#">+852 6937 2640</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Contact Us via Email</h4>
              <a href="#">simran.thadani@mail.utoronto.com</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Visit Our Offices</h4>
              <a href="#">Downtown, Toronto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Dr. Shairlines - Travel Reservation Page</title>

  <link href="bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../static/logo.png" alt="logo">
        </span>

        <div class="text header-text">
          <span class="name">Dr. Shairlines</span>
          <span class="course"></span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links">
          <li class="nav-link">
            <a href="./index.html">
              <i class='bx bxs-home icon'></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="#">
              <i class='bx bxs-log-in icon'></i>
              <span class="text nav-text">Login</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/deals.html">
              <i class='bx bxs-dollar-circle icon'></i>
              <span class="text nav-text">Deals</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/reservation.html">
              <i class='bx bxs-book-content icon'></i>
              <span class="text nav-text">Reservation</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/about.html">
              <i class='bx bxs-info-circle icon'></i>
              <span class="text nav-text">About</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/contact.html">
              <i class='bx bxs-envelope icon'></i>
              <span class="text nav-text">Contact</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <i class='bx bxs-log-out icon'></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
        <li class="mode">
          <div class="dark-light">
            <i class="bx bx-moon icon dark"></i>
            <i class="bx bx-sun icon light"></i>
          </div>
          <span class="mode-text text">Dark Mode</span>
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>

    </div>
  </nav>
  <section class="main">
    <div class="second-page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4>Contact Us</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info reservation-info">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Make a Phone Call</h4>
              <a href="#">+852 6937 2640</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Contact Us via Email</h4>
              <a href="#">simran.thadani@mail.utoronto.com</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="info-item">
              <h4>Visit Our Offices</h4>
              <a href="#">Downtown, Toronto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src=./sidebar.js></script>
</body>

</html>